
<div class='mt-4'>
  <input
    class='bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-1/3 py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple'
    placeholder='Name'
    value={{this.layerName}}
    oninput={{action (mut this.layerName) value='target.value'}}
  >
</div>

<div class='mt-4 shadow-md rounded'>
  <LeafletMap
    @lat={{this.lat}}
    @lng={{this.lng}}
    @zoom={{this.zoom}}
    @onLoad={{action this.mapLoaded}}
  as |layers|>
    <layers.tile @url='http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png' />
  </LeafletMap>
</div>

<div class='mt-4 flex flex-col'>
  <ul class='list-reset flex border-b mb-2'>
    {{#each this.tabs as |tab|}}
      <li class='mr-1 {{if (eq this.selectedTab tab.id) '-mb-px'}}'>
        <a
          class='bg-white inline-block py-2 px-4 font-semibold {{if (eq this.selectedTab tab.id) 'border-l border-t border-r rounded-t text-blue-dark' 'text-blue hover:text-blue-darker'}}'
          role='button'
          onclick={{action (mut this.selectedTab) tab.id}}
        >
          {{tab.name}}
        </a>
      </li>
    {{/each}}
  </ul>

  {{#if (eq this.selectedTab 'styles')}}
    <textarea
      class='mr-4 bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple'
      rows='10'
      placeholder='carto css'
      value={{this.cartoCss}}
      onchange={{action this.updateCss value='target.value'}}
    ></textarea>
  {{else if (eq this.selectedTab 'sql')}}
    <textarea
      class='mr-4 bg-grey-lighter appearance-none border-2 border-grey-lighter rounded w-full py-2 px-4 text-grey-darker leading-tight focus:outline-none focus:bg-white focus:border-purple'
      rows='10'
      placeholder='sql'
      value={{this.cartoSql}}
      onchange={{action this.updateSql value='target.value'}}
    ></textarea>

    <p class='py-2 text-sm text-grey-darker'>
      Test SQL with:<br><br>
      SELECT *
        FROM ne_10m_populated_places_simple
        WHERE adm0name IN (SELECT admin FROM ne_adm0_europe)
    </p>
  {{else if (eq this.selectedTab 'legend')}}
    <LegendEditor
      @onUpdate={{action (mut this.legend)}}
    />
  {{/if}}
</div>

{{yield (hash
  sql=this.cartoSql
  css=this.cartoCss
  name=this.layerName
)}}